<div class="container">
  <div class="row">
    <div class="col-8">
      <% @posts.each do |post| %>
      <div class="post">
        <div class="post-meta">
          <% if post.account.profile_image.attached? %>
            <%= link_to image_tag(post.account.profile_image.variant(resize_to_fit: [50, 50]), class: "profile-pic"), profile_path(post.account.username) %>
          <% end %>
         <%= link_to post.account.username, profile_path(post.account.username), class:"text-dark"  %>
         </div>
          <% if post.image.attached? %>
            <%= image_tag post.image, class: "img img-fluid" %>
          <% end %>
          <div class="post-details">
            <div class="post-actions">
              <i class="fa fa-heart like-<%= post.id %> <%= "active" if post_liked_by_user?(post.id) %> fa-2x post-like" data-id="<%= post.id %>"></i>
              <i class="fa fa-comment fa-2x post-comment"></i>
            </div>
            <p><strong id="post-<%= post.id %>-likes" ><%= post.total_likes_count %> likes</strong></p>
            <p><strong><%= link_to post.account.username, profile_path(post.account.username), class: "text-dark" %></strong><%= simple_format post.description %></p>
            <p class="text-muted"><%= time_ago_in_words post.created_at %> ago</p>
          </div>
        </div>
        <% end %>
    </div>
    <div class="col-4">
      <div class="account-summary">
        <% if current_account.profile_image.attached? %>
          <%= link_to image_tag(current_account.profile_image.variant(resize_to_fit: [50, 50]), class: "profile-pic"), profile_path(current_account.username) %>
        <% end %>
        <strong><p><%= link_to current_account.username, profile_path(current_account.username), class:"text-dark"  %></strong></p>
        <p>
        <%= current_account.full_name %>
        </p>
      </div>
      <div class="follower-suggestions">
        <%= link_to "View All", "#", class:"float-right text-dark" %>
        <p class="text-muted">Suggestions for you</p>
      </div>
    </div>
  </div>
</div>
