<div class="container">
  <div class="row">
    <div class="col-8">
      <% @posts.each do |post| %>
      <div class="post">
        <div class="post-meta">
          <% if post.account.profile_image.attached? %>
            <%= link_to image_tag(post.account.profile_image.variant(resize: "50x50"), class: "profile-pic"), profile_path(post.account.username) %>
          <% end %>
         <%= link_to post.account.username, profile_path(post.account.username), class:"text-dark"  %>
         </div>
          <% if post.image.attached? %>
            <%= image_tag post.image, class: "img img-fluid" %>
          <% end %>
          <div class="post-details">
            <div class="post-actions">
              <i class="fa fa-heart like-<%= post.id %> <%= "active" if post_liked_by_user?(post.id) %> post-like fa-2x" data-id="<%= post.id %>"></i>
              <i class="fa fa-comment fa-2x post-comment"></i>
            </div>
            <p><strong id="post-<%= post.id %>-likes" ><%= post.total_likes_count %> likes</strong></p>
            <p><strong><%= link_to post.account.username, profile_path(post.account.username), class: "text-dark" %></strong><%= simple_format post.description %></p>
            <p class="text-muted"><%= time_ago_in_words post.created_at %> ago</p>
            <%= render "posts/comments", post: post %>
          </div>
          <div class="comment-box">
            <%= form_for @comment do |f| %>
              <%= f.hidden_field :post_id, value: post.id %>
              <div class="input-group">
              <%= f.text_field :comment, placeholder: "Add a comment...", class: "form-control post-comment" %>
                <div class="input-group-append">
                  <%= f.submit "Post", class: "btn btn-success float-right" %>
                </div>
            <% end %>
            </div>
          </div>
        </div>
        <% end %>
    </div>
    <div class="col-4">
      <div class="account-summary">
        <% if current_account.profile_image.attached? %>
          <%= link_to image_tag(current_account.profile_image.variant(resize: "50x50"), class: "profile-pic float-left m-r-10"), profile_path(current_account.username) %>
        <% end %>
        <p class="m-0"><strong><%= link_to current_account.username, profile_path(current_account.username), class:"text-dark"  %></strong><br/><%= current_account.full_name %></p>
      </div>
      <div class="follower-suggestions">
        <%= link_to "View All", "#", class:"float-right text-dark" %>
        <p class="text-muted">Suggestions for you</p>
        <%= render "accounts/follower_suggestions"%>
      </div>
    </div>
  </div>
</div>
